body {
    font-family: Calibri, sans-serif;
    background-color: #c78171;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #f4f194;
}

label {
    text-align: center;
    display: block;
    margin-top: 10px;
    color: #f4f194;
}

 input {
    text-align: center;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

select {
    text-align: center;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

table {
  text-align: center;

  width: 100%;

  border-collapse: collapse;

  margin-top: 20px;

}


table th, table td {

  border: 1px solid #f4f194;

  padding: 10px;

  text-align: left;

}


table th {

  background-color: #f4f194;

  color: black;

}

ul {
    text-align: center;
    margin-bottom: 20px;
    color: #c78171;
    background-color: #f4f194;
}

p {
    text-align: center;
    margin-top: 10px;
    color: #f4f194;
}

a {
    text-align: center;
    margin-top: 10px;
    color: #f4f194;
}